/*---------------------------
		Accessiblity
---------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	left: -999em;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;

	&:focus {
		border-radius: 5px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto;
		clip-path: none;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/*---------------------------
		Text modifiers
---------------------------*/
.text-smaller-xs{ @include body-text( xs ); }
.text-smaller-s{ @include body-text( s ); }
.text-bigger-m{ @include body-text( m ); }
.text-bigger-l{ @include body-text( l ); }


/*---------------------------
		Alignments
---------------------------*/

.left {
	float: left;
}

.right {
	float: right;
}

.text {
	&-left {
		text-align: left;
	}

	&-right {
		text-align: right;
	}

	&-center {
		text-align: center;
	}

	&-justify {
		text-align: justify;
	}
}

/*---------------------------
		Width 
---------------------------*/

.container{ @include container-size('wide'); }
.container-fluid{ @include container-size('full'); }


/*---------------------------
		Others
---------------------------*/



.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}


/*------------
    Display
------------*/
.d-block{ display: block; }
.d-hide { display: none; }

// Flex
.d-flex{ 
	display: flex;

	&.flex-between{ justify-content: space-between; }
	&.flex-around{ justify-content: space-around; }

	&.flex-wrap{ flex-wrap: wrap; }
	&.flex-nowrap{ flex-wrap: nowrap; }

	&.align-center { align-items: center; }

	&.row-reverse { flex-direction: row-reverse; }
	&.col-reverse { flex-direction: column-reverse; }

	@include col-size-responsive();

	@include flex-order($flex-order-num);

	@include flex-basis-steps($flex-basis-step, $mq-breakpoints);

}


/*---------------------
    Margin & Padding
-----------------------*/

@include margin($margin-range);
@include padding($padding-range);



/*---------------------
    Positioning
-----------------------*/

.p-fixed{ position: fixed; }
.p-relative{ position: relative; }
.p-absolute{ position: absolute; }



