/*-----------------
  Footer
------------------*/
footer{
    .container{ flex-wrap: wrap; }
    .footer__item{   
        min-width: 120px;

        &:nth-child(2){
            order:-1;
            @include mq(sm){
                order:2;
            }
        }
    }
}



/*-----------------
  Credits
------------------*/

.credits{
    @include colors-tx-bg($timberwolf, $charleston-green);
}