.rpwe-block ul {
    list-style: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.rpwe-block li {
    margin-top:2rem;
    margin-bottom:2rem;
    background-color: $white;
    box-shadow: 1px 1px 2px $light-gray;
    min-height: 72px;

}

.rpwe-block a {
    display: inline !important;
    text-decoration: none;

}

.rpwe-block h3 {
    background: none !important;
    clear: none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-weight: 400;
    font-size: 1.7rem !important;
    line-height: 1.1em;
    padding-top: .6rem; padding-bottom: .6rem;
    padding-right: .6rem;
}

.rpwe-thumb {
    border: 0px solid #eee !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0 !important;
    margin-right: 1rem;
}

.rpwe-summary {
    font-size: 12px;
}

.rpwe-time {
    color: #bbb;
    font-size: 1.3rem;
}

.rpwe-comment {
    color: #bbb;
    font-size: 11px;
    padding-left: 5px;
}

.rpwe-alignleft {
    display: inline;
    float: left;
}

.rpwe-alignright {
    display: inline;
    float: right;
}

.rpwe-aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rpwe-clearfix:before,
.rpwe-clearfix:after {
    content: "";
    display: table !important;
}

.rpwe-clearfix:after {
    clear: both;
}

.rpwe-clearfix {
    zoom: 1;
}