/* Page Width */
.wp-block{
    max-width: $container-fluid;
}



/* no margin on top and bottom of text */
.block-editor-block-list__block{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


/* Margin comun fix */

.block-editor-block-list__block.wp-block-column:not(:first-child) {
    @media (min-width: 782px){
        margin-left: 0px !important;
    }
}



.block-editor-block-list__block.wp-block-column:nth-child(2n) {
    @media (min-width: 600px){
        margin-left: 0px !important;
    }
}

/*--------------
    Smaw Column
/* ----------------*/
div[data-title="Smaw Column"]{
    flex-grow: 1;
}

 