/* stylelint-disable */

.wp-block-buttons{
	display: flex;

	&.is-content-justification-center{ justify-content: center; }
	&.is-content-justification-left{ justify-content: start; }
	&.is-content-justification-right{ justify-content: end; }



	.editor-styles-wrapper .wp-block-button,
	.wp-block-button {

		min-width:fit-content;
		
		&.wp-block-button__width-25{ width: 25%; }
		&.wp-block-button__width-50{ width: 50%; }
		&.wp-block-button__width-75{ width: 75%; }
		&.wp-block-button__width-100{ width: 100%; }

		&.is-style-outline>a{
			outline-style: solid;
			outline-width: 3px;

			&.has-cinnabar-color{ outline-color: $cinnabar}
			&.has-barn-red-color{ outline-color: $barn-red}
			&.has-charleston-green-color{outline-color: $charleston-green}
			&.has-timberwolf-color{outline-color: $timberwolf}
			&.has-white-color{outline-color: $white}
		}

		.wp-block-button__link{
			display: block;
			width:100%;
			text-align: center;
		}

		// Style variation for 'layout-border-blue-fill'

	}
}




/* stylelint-enable */
