[data-title="Smaw Image"],
.wp-block-smaw-blocks-custom-image
{
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow:hidden;

    img{
        display: block;
        opacity: 0;
        width:100%;
        height: auto;

        @include overflow-image($mq-breakpoints, '&');

        &.foreground{
            opacity: 1;
        }

    }
}

/* figure.wp-block-image { 
    width: 100%; 

    img {
        width: 100%;
        height: auto;
    }

}

 */
