.wp-block-columns{

    overflow:hidden;
    
    /* Classi da aggiungere manualmente */
    &.are-justified-left{ justify-content: flex-start; }
    &.are-justified-right{ justify-content: flex-end; }
    &.are-justified-center{ justify-content: center; }
    /**/

    &.are-vertically-aligned-center{ align-items: center;}

    .wp-block-column{
        flex-grow: 1;
        width:100%
    }
}



