
/*---------------------------------
		Colors Variables
-----------------------------------*/

$cinnabar: #ea3f2d;
$barn-red:  #770d02;

$white: #ffffff;

$charleston-green: #2a2b26;
$timberwolf: #dadcd5;



/*---------------------------------
		Opacity
-----------------------------------*/



/*---------------------------------
		Gradient
-----------------------------------*/



/*---------------------------------
		Element Colors
-----------------------------------*/

// <body>
$color__body-text: $charleston-green;
$color__background-body: $white;

// <a>
$color__link: $cinnabar;
$color__link-hover: $barn-red;

$color__background-button: transparent;
$color__background-button-hover: transparent;
$color__border-button: $cinnabar;
$color__border-button-hover: $barn-red;

//TODO evaluate this
/* $color__border-input: $gray-100;
$color__text-input: $dark-gray-200;
$color__text-input-focus: $black;


// <hr>
$color__background-hr: $gray-150;
$color__background-table: $blue-20; */

/*---------------------------------
		Border Colors
-----------------------------------*/

