// mq breakpoints.
$mq-breakpoints: (
	sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
) !default;

$container-max-width: 1300px;
$container-fluid: 100%;

$container-padding-left: 30px;
$container-padding-right: 30px;

//Margin Padding
$margin-range: 16;
$padding-range: 16;

//Positioning
$min: -16;
$max: 16;

//Flex

$flex-order-num: 3;

$flex-basis-step: 10;

